.controls{
	 margin: 2rem 0rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.5rem;
 
}
.icon{
	cursor: pointer;
}
 .icon:hover {
	color: rgb(53, 53, 53);
 }
 .musicProgressBar{
    width: 100%;
    margin-bottom: 16px;
    height: 10px;
    border-radius: 5px;
    outline: none;
    filter: hue-rotate(20deg);
	background: #020e0c;
	transition: width .1s linear;

}
.progress{
	margin-top: 1.5rem;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #080a09;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background .3s ease-in-out;
}

  input[type="range"] {
	-webkit-appearance: none;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	background-size: 70% 100%;
	background-repeat: no-repeat;
  }
  
