.controls{
	 margin: 2rem 0rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.5rem;
 
}
.icon{
	cursor: pointer;
}
 .icon:hover {
	color: rgb(53, 53, 53);
 }
 .musicProgressBar{
    width: 100%;
    margin-bottom: 16px;
    height: 10px;
    border-radius: 5px;
    outline: none;
    filter: hue-rotate(20deg);
	background: #020e0c;
	transition: width .1s linear;

}
.progress{
	margin-top: 1.5rem;
}

