*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    flex: 4;
	font-family: 'Carter One', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 109.6deg, rgb(250, 56, 56) 11.2%, rgb(76, 47, 12) 91.1% );
    background-size: cover;
    height: 100vh;
}