*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    flex: 4;
	font-family: 'Carter One', cursive;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}